<div class="container d-flex justify-content-center mt-4">
  <div class="container justify-content-center mt-4">
    <h1 class="rubik-mono-one-regular">Usuário</h1><br>
    <div class=" d-flex justify-content-start my-3"><br>
    <h3 class="arimo"><strong>Name: </strong></h3><h3 class="nanum-myeongjo-regular mx-3"><%= @user.name %></h3><br>
    </div>
    <div class="d-flex justify-content-start my-3"><br>
    <h3 class="arimo"><strong>Address:  </strong></h3><h3 class="nanum-myeongjo-regular mx-3"><%= @user.address %></h3><br>
    </div>
    <div class="d-flex justify-content-start my-3"><br>
    <h3 class="arimo"><strong>E-mail: </strong></h3><h3 class="nanum-myeongjo-regular mx-3"><%=  @user.email %></h3><br>
    </div>
    <div class="d-flex justify-content-start align-items-center my-3">
      <h3 class="arimo mr-1"><strong>Rating </strong></h3>
      <h5 class="fa-solid fa-star mx-1"></h5>
      <h5 class="fa-solid fa-star mx-1"></h5>
      <h5 class="fa-solid fa-star mx-1"></h5>
      <h5 class="fa-solid fa-star mx-1"></h5>
      <h5 class="fa-regular fa-star mx-1"></h5> <br>
    </div>
  </div>

  <%# <div> %>
      <%# <% current_user.sales.each do |sale| %>
        <%# <%= cl_image_tag sale.product.photo.key, height: 360, class: "img-card-index"%>
        <%# <%= sale.product.name %>
        <%# - R$ <%= sale.product.price %>
        <%# <br> %>
      <%# <% end %>
  <%# </div> %>

</div>

<div class="row">
  <h2 class="arimo my-5"><strong>Compras Feitas</strong></h2>
    <% current_user.sales.each do |sale| %>
      <div class="col-md-4 mb-4">
        <div class="card" id="card-index">
          <div class="img mt-3">
             <%= cl_image_tag sale.product.photo.key, height: 360, class: "img-card-index"%>
          </div>
          <div class="card-body">
            <div class="">
              <h4 class="card-title text-capitalize arimo mb-3"><%= sale.product.name %> - R$ <%= sale.product.price %><br></h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
