<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
      <p class="rowdies-regular text-light mt-1">Coisas</p>
      <p class="amatic-sc-regular text-light mt-3">Que</p>
      <p class="rubik-mono-one-regular text-light mt-0">Ninguem</p>
      <p class="concert-one-regular text-light mt-2">Precisa</p>
    </div>

    <div>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li>Coisas</li>
          <li class="nav-item active mx-4">
            <%= link_to "Home", root_path, class: "nav-link text-light arimo" %>
          </li>
          <li>
            <%= link_to root_path, class: "navbar-brand mx-4" do %>
              <%= image_tag "logo_bag.png", alt: "cqnp_logo" %>
            <% end %>
          </li>
          <li class="nav-item mx-4">
            <%= link_to "Produtos", products_path, class: "nav-link text-light arimo" %>
          </li>
      </ul>
    </div>
    <div class="mx-5">
      <ul class="navbar-nav me-auto">
        <li><%= link_to "Log out", destroy_user_session_path(current_user.id), class: "btn text-light mx-3" %></li>
        <li class="nav-item dropdown">
          <%= link_to user_path(current_user.id) do %>
            <%= image_tag "https://ca.slack-edge.com/T02NE0241-U0700M8C23U-03380728918c-512", class: "avatar", alt: "dropdown menu" %>
          <% end %>
          </div>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Action", "#", class: "dropdown-item" %>
        <%= link_to "Another action", "#", class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path(current_user.id), data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
          </li>
        <% else %>
          <li class="nav-item container">
            <%= link_to "Login", new_user_session_path, class: "nav-link menu-link mx-3" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
