<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>
<div class="container">
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>CQNP</h1>
    <p>Coisas que ninguém precisa.</p>
  </div>
</div>


<h2 class="text-center m-4">Itens em destaque</h2>
<div class="container container d-flex align-items-center justify-content-center">
  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "MVC.png", alt: "Le Wagon", width: 900 %>
      <p>Descricao produto 1 </p>
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "MVC.png", alt: "Le Wagon", width: 900 %>
      <p>Descricao produto 2</p>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "MVC.png", alt: "Le Wagon", width: 900 %>
      <p>Descricao produto 3</p>
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<h2 class="text-center m-4">Adicionados recentemente</h2>
<div class="container">

<div class="cards d-flex justify-content-center">
  <div class="card">
    <%= image_tag "MVC.png", alt: "Le Wagon"%>
    <div class="container">
      <h4><b>Nome do produto</b></h4>
      <p>Descricao</p>
      <a class="btn btn-primary" href="#">Veja o produto</a>
    </div>
</div>
  <div class="card">
    <%= image_tag "MVC.png", alt: "Le Wagon"%>
    <div class="container">
      <h4><b>Nome do produto</b></h4>
      <p>Descricao</p>
      <a class="btn btn-primary" href="#">Veja o produto</a>
    </div>
</div>
</div>

</div>
