<h1 class=" d-flex justify-content-center m-4 title rowdies-bold">Produtos</h1>
<div class="arimo">
 <%= link_to "Adicionar um produto", new_product_path, class: "btn btn-primary btn-card" %>
</div>
  <div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4 mb-4">
      <div class="card" id="card-index">
        <div class="img mt-3">
          <%= cl_image_tag product.photo.key, height: 360, class: "img-card-index", crop: :fill if product.photo.key.present? %>
        </div>
        <div class="card-body">
          <div class="">
            <h4 class="card-title text-capitalize arimo mb-3"><%= product.name %></h4>
          </div>
          <div class="">
            <p class="card-text arimo"><%= link_to "Ver produto", product_path(product), class: "btn btn-primary btn-card d-flex justify-content-center" %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>




  <%# </div> %>


    <%# <div class="row row-cols-1 row-cols-md-2 g-4"> %>
      <%# <div class="col"> %>
        <%# <div class="card"> %>
          <%# <%= cl_image_tag product.photo.key, height: 300, crop: :fill if product.photo.key.present?%>
          <%# <div class="card-body"> %>
            <%# <h5 class="card-title">Card title</h5> %>
            <%# <p class="card-text"><%= product.name %>
            <%# </p> %>
          <%# </div> %>
        <%# </div> %>
      <%# </div> %>
      <%# <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div> %>
<%#

  <div class="cardx">

           <div class="row"> %>
