<div class="container">
  <h1 class="text-uppercase d-flex justify-content-center m-4 title rowdies-bold"><%= @product.name %></h1>

  <div class="photo card-img-top d-flex justify-content-center">
  <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
  </div>

  <div class="info d-flex justify-content-center m-3">
    <p><strong> R$ <%= @product.price %> </strong> - <%=@product.description%></p>
  </div>
  <div class="buttons d-flex justify-content-center">
    <%= link_to "Buy", new_product_sale_path(@product), class: "btn btn-outline-success m-1 " %>
    <%= link_to "Back", products_path, class: "btn btn-outline-warning m-1" %>
    <%= link_to "Update", edit_product_path, class: "btn btn-outline-info m-1" %>
    <%= link_to 'Delete', product_path(@product), class: "btn btn-outline-danger m-1", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  </div>

</div>
